[submodule ".vim/pack/tpope/start/vim-sensible"]
	path = .vim/pack/tpope/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim/pack/catppuccin/start/catppuccin"]
	path = .vim/pack/catppuccin/start/catppuccin
	url = https://github.com/catppuccin/vim.git
